@model CinemaAPI.Models.Programacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Programacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmeHoje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmeHoje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmeSemana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmeSemana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cinema.CinemaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProgramacaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
